@tailwind base;
@tailwind components;
@tailwind utilities;

.false{
    left: -180px;
}
@media only screen and (max-width: 1024px) {
    .true{
        display: block;
        background-color: white;
        right: 10%;
        padding: 10px 15px;
        width: 120px;
        font-size: 18px;
    }
    nav ul li {
        padding: 5px 0;
    }
}

/* {"fixed lg:w-1/3 lg:bg-inherit lg:block lg:static " + toggle} */